[Unit]
Description=Runs syncoid for %I dataset
Wants=syncoid.timer

[Service]
Type=oneshot
ExecStart=/usr/sbin/syncoid --recursive --compress=lzo --no-sync-snap --create-bookmark --sshkey=/root/.ssh/id_ed25519 root@pve2:%i storage/backup/incoming-pve2-%i
#ExecStart=/usr/sbin/syncoid --recursive --compress=lzo --no-sync-snap --create-bookmark --sshkey /root/.ssh/id_ed25519 root@pve2:storage storage/backup/incoming-pve2-storage

[Install]
WantedBy=multi-user.target
